.jumbotron {
	background: none;
}

.i_logo {
	width: 150px;
	margin: -15px 0 0;
}

.carousel-caption {
    text-shadow: 0 1px 24px rgba(0, 0, 0, 0.8);
    left: 15%;
	width :70%;
	right:15%;
	text-align: right;
    bottom: 130px !important;
}


/* carousel-caption Responsivness Handeled only in this  */
@media  (max-width: 1001px){
    .carousel-caption{
        bottom: 30px !important;
    }
  }
  
  @media  (max-width: 768px){
  
  }
  
  
  @media  (max-width: 576px){
    
  
  }
  
  @media  (max-width: 311px){
   
  }

footer { 
	margin: 0px !important;
	padding: 10px 0;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}
textarea.form-control {
    height: 108px;
}
.sharing-container {
    display: inline-block;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: auto;
    top: 40%;
    width: 64px;
    z-index: 11100;
}
.sharing-container .sharing-item {
    cursor: pointer;
    height: 48px;
    text-align: center;
    width: 48px;
}
.sharing-container .sharing-item:hover {
    transition: all 0.3s ease 0s;
    width: 64px;
}
.sharing-container .sharing-img {
    background-image: url("../../images/sharing32x32.png");
    display: inline-block;
    height: 32px;
    margin: 8px auto auto;
    width: 32px;
}
.sharing-container .sharing-fb {
    background-color: #305891;
}
.sharing-container .sharing-fb .sharing-img {
    background-position: 0 0;
}
.sharing-container .sharing-gp {
    background-color: #ce4d39;
}
.sharing-container .sharing-gp .sharing-img {
    background-position: 0 -32px;
}
.sharing-container .sharing-tw {
    background-color: #2ca8d2;
}
.sharing-container .sharing-tw .sharing-img {
    background-position: 0 -64px;
}
.sharing-container .sharing-li {
    background-color: #4498c8;
}
.sharing-container .sharing-li .sharing-img {
    background-position: 0 -96px;
}

#contact {margin-top:-75px;}
#team {    
	background: none repeat scroll 0 0 #efefef;
    margin-top: -75px;
    padding-top: 50px;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.fa {margin-top: 10px;}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #00D8F5;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'FontAwesome';
	speak: none;
	font-size: 48px;
	line-height: 93px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\f09a";
}

.hi-icon-screen:before {
	content: "\f099";
}

.hi-icon-earth:before {
	content: "\f0d5";
}

.hi-icon-support:before {
	content: "\f0e1";
}

.hi-icon-locked:before {
	content: "\f143";
}


/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgba(255,255,255,1);
	color:#0096E0;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


/*input style css*/

.bgcolor-3 { background: #e8e8e8; }
.content {
	font-size: 150%;
	padding: 1em 0;
}

.content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Kyo */
.input--kyo {
	z-index: auto;
}

.input__field--kyo {
	padding: 0.85em 1.5em;
	width: 100%;
	border-radius: 2em;
	background: #fff;
	color: #535d92;
}

.input__label--kyo {
	z-index: 0;
	padding: 0;
	width: 100%;
	text-align:center;
}


.input__label-content--kyo {
	padding: 0.5em 0;
}

/* Effect 10: reveal, push out */
nav.cl-effect-10 a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
	border-radius: 50px;
}

.cl-effect-10  {
	position: relative;
	z-index: 1;
}

.cl-effect-10 a {
	overflow: hidden;
	margin: 0 15px;
}

.cl-effect-10 a span {
	display: block;
	padding: 8px 20px;
	background:#23AAE2;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #e8e8e8;
	color: #23AAE2;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

.carousel-indicators {
    bottom: 0;
}

#carousel-banner {
    background: none repeat scroll 0 0 #eeeeee;
    bottom: 40px;
    box-shadow: 0 0 18px 3px rgba(52, 52, 52, 1);
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 900;
}
#carousel-banner > div {
    height: 100%;
    margin: auto;
    max-width: 1400px;
    text-align: center;
}

#carousel-banner > div > div:nth-child(1) {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 40%;
}
#carousel-banner > div > div:nth-child(2) {
    border-left: 1px solid #dcdcdc;
    display: inline-block;
    height: 90%;
    vertical-align: top;
    margin-left: 5px;
    width: 1px;
}
#carousel-banner > div > div:nth-child(3) {
   display: inline-block;
    margin-left: 5px;
    position: relative;
    vertical-align: top;
    width: 40%;
}
#carousel-banner > div > div:nth-child(4) {
    border-left: 1px solid #dcdcdc;
    display: inline-block;
    height: 90%;
    vertical-align: top;
    width: 1px;
}
#carousel-banner > div > div:nth-child(5) {
    display: inline-block;
    vertical-align: top;
}
#carousel-banner .text-big {
    font-size: 2em;
    text-align: left;
}
#carousel-banner .text-blue {
    color: #0096e0;
}
.carousel-shift-right {
    padding-left: 30px;
    text-align: left;
}
.carousel-caption h2 {
	display: inline;
}
.carousel-caption a {
    background: none repeat scroll 0 0 #0096e0;
    color: #fff;
    cursor: pointer;
    display: inline;
    text-shadow:none;
    font-size: 1.6em;
    margin-top:13px;
    padding: 6px 20px;
    border: 3px solid #0096e0;
    border-radius: 25px;
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
}
.carousel-caption a:hover {
	background: none repeat scroll 0 0 #fff;
    color: #0096e0;
}

.carousel-caption .wht {
    background: none repeat scroll 0 0 #fff;
    color: #0096e0;
    cursor: pointer;
    display: inline;
    font-size: 1.6em;
    margin-top:13px;
    padding: 6px 20px;
    border: 3px solid #0096e0;
    border-radius: 25px;
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    float: right;
}
.carousel-caption .wht:hover, .button_demo:hover {
	background: none repeat scroll 0 0 #0096e0;
	text-decoration: none;
    color: #fff;
}
#carousel-banner > div > div:nth-child(3) img {
    position: absolute;
    right: -10px;
    top: -70px;
    width: 100%;
}


.button_demo {
    background: none repeat scroll 0 0 #fff;
    color: #0096e0;
    cursor: pointer;
    display: inline;
    font-size: 1.6em;
    margin-top:13px;
    padding: 6px 20px;
    border: 3px solid #0096e0;
    border-radius: 25px;
    text-decoration: none;
}

@media screen and (max-width: 1060px) {
    #carousel-banner > div > div:nth-child(3){
            display: none;
            width: 0px;
    }
    #carousel-banner > div > div:nth-child(1) {
    display: inline-block;
    left: -10px;
    padding-left: 30px;
    position: relative;
    vertical-align: top;
    width: 68%;
}

}

@media screen and (max-width: 670px) {
	#carousel-banner{
		display: none;
	}
}


#portfolio .portfolio-item {
right: 0;
margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
display: block;
position: relative;
margin: 0 auto;
max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
background: rgba(35,170,226,.4);
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
position: absolute;
top: 50%;
width: 100%;
height: 20px;
margin-top: -12px;
text-align: center;
font-size: 20px;
color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
margin: 0 auto;
padding: 25px;
max-width: 400px;
text-align: center;
background-color: #26ABE2;
color: #fff;
}
#portfolio .portfolio-item .portfolio-caption h4 {
margin: 0;
text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
margin: 0;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
font-style: italic;
}
#portfolio * {
z-index: 2;
}
@media(min-width:767px) {
#portfolio .portfolio-item {
margin: 0 0 30px;
}
}

.portfolio-modal .modal-content {
padding: 100px 0;
min-height: 100%;
border: 0;
border-radius: 0;
text-align: center;
background-clip: border-box;
-webkit-box-shadow: none;
box-shadow: none;
}
.portfolio-modal .modal-content h2 {
margin-bottom: 15px;
font-size: 3em;
}
.portfolio-modal .modal-content p {
margin-bottom: 30px;
margin-top: 10px;
}
.portfolio-modal .modal-content p.item-intro {
margin: 20px 0 30px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
margin-top: 0;
margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
margin-bottom: 30px;
}
.portfolio-modal .close-modal {
    background-clip: transparent;
    cursor: pointer;
    height: 60px;
    position: fixed;
    right: 40px;
    top: 25px;
    width: 60px;
}
.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
    background-color: #222;
    height: 60px;
    margin-left: 35px;
    transform: rotate(45deg);
    width: 1px;
    z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
    background-color: #222;
    height: 60px;
    transform: rotate(90deg);
    width: 1px;
    z-index: 1052;
}
.portfolio-modal .modal-backdrop {
display: none;
opacity: 0;
}

#hiring {
    height: 75px;
    margin: 35px 0 77px;
    padding: 1px 20px;
    width: 100%;
}
#hiring h2 {
	text-align: center;
	color: #fff;
	font-style: italic;
	cursor: pointer;
}
#openings {display: none; padding-bottom: 77px; padding-top: 50px;}

.clients{padding-bottom: 20px;}
.texture-overlay {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-image: url(../../images/grid.png);
z-index: 1200;
}
.carousel-caption, .carousel-indicators, .carousel-control {z-index: 1400;}
.navbar {z-index: 1500;}
.modal {z-index: 1600;}


.logocircle {
    background: none repeat scroll 0 0 #fff;
    border-radius: 76px;
    box-shadow: 0 6px 2px 0 rgba(38,171,226, 0.2);
    height: 153px;
    margin-left: -44px;
    margin-top: -15px;
    position: relative;
    width: 153px;
    z-index: 1;
}

.logocircle-small {
	background: none repeat scroll 0% 0% rgb(255, 255, 255); 
	position:relative; 
	z-index: 1; 
	height: 76px; 
	width: 76px; 
	border-radius: 38px; 
	margin-top: 2px; 
	margin-left: -28px;
	display: none;
	box-shadow: 0 6px 2px 0 rgba(38,171,226, 0.2);
}
.carousel-control .icon-prev::before {
    content: "";
}
.carousel-control .icon-next::before {
    content: "";
}
.carousel-control .icon-prev {
	background: url('../img/slider-arrows.png');
	height: 75px;
	width: 45px;
}
.carousel-control .icon-next {
	background: url('../img/slider-arrows.png');
	background-position: right;
	height: 75px;
	width: 45px;
}
#slCarousel .carousel-control {
	margin-top: -65px;
}
#slCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
}
.sl-caption {
	position: relative;
	text-shadow:none;
	margin-top: 10px;
	color: #555;
	text-align: center;
}

.navbar-nav , .navbar-nav > li{
	/*height: 45px;*/
	margin-top: 6px;
}
.navbar-nav > li > a, .navbar-nav > li> a >i {
	position: static;
	display: inline;
	border-radius: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#hire {
    background: none repeat scroll 0 0 #0096e0;
    color: #fff;
    cursor: pointer;
    text-shadow:none;
    font-size: 1.6em;
    margin-top:30px;
    padding: 6px 20px;
    border: 3px solid #0096e0;
    border-radius: 25px;
    text-decoration: none;
}

.message {
	width: 33%;
    bottom:200px;
    /*margin-bottom: -152px;*/
    position: absolute;
    right: 0px;
    z-index: 1499;
}
.message img {width: 100%;}
.product_thumbnail {cursor:pointer;}
.product_thumbnail:hover{background:rgba(35,170,226,0.2);}
.product_thumbnail h3 {
	text-transform: none;
    background: #f3f3f3;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px 2px;
    border-radius: 20px;
}
.product_thumbnail p:nth-child(2) {
    height: 100px !important;
}
#career .thumbnail .caption {padding: 2px; margin-top: 5px;}
#career .thumbnail > img, .thumbnail a > img {display: none;}
h1, h2, h3, h4, h5, h6 {text-transform: uppercase;}

.modal-content p {display: none;}


.blue_btn {
    background: none repeat scroll 0 0 #0096e0;
    color: #fff;
    cursor: pointer;
    display: inline;
    text-shadow:none;
    font-size: 1.6em;
    padding: 0px 20px 4px;
    border: 3px solid #0096e0;
    border-radius: 25px;
    text-decoration: none;
    margin: 10px 0px;
}
.blue_btn:visited,.blue_btn:active, .blue_btn:focus {
	color: #fff;
    text-decoration: none;
}

.blue_btn:hover {
	color: #0096e0;
    background: #fff;
    border: 1px solid #0096e0;
    text-decoration: none;
}

.required {border: 2px solid #0096E0 !important;}